<svg viewBox="0 0 16 16"><path fill="#828282" d="M12,2C6.477,2,2,6.477,2,12s4.477,10,10,10s10-4.477,10-10S17.523,2,12,2z M15.08,16.757c0,0-0.25,0.625-0.936,0.325
		l-2.541-1.949l0,0l-1.63,1.486c0,0-0.127,0.096-0.266,0.036c0,0-0.12-0.011-0.27-0.486c-0.15-0.475-0.911-2.972-0.911-2.972
		L6,12.349c0,0-0.387-0.137-0.425-0.438c-0.037-0.3,0.437-0.462,0.437-0.462l10.03-3.934c0,0,0.824-0.362,0.824,0.238L15.08,16.757z"></path></svg>